@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;700&display=swap'
);
    
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #800020;
    display: flex;
    position: fixed;
    /* grid-template-columns: repeat(4, 330px); */
    grid-template-rows: 100%;
    padding-left: 150px;
    padding-right: 150px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    justify-content: center;
    /* justify-items: center;
    align-items: center;
    align-content: center; */
}

h2 {
    flex: 1;
}

h2 > a {
    background-color: red;
    text-decoration: none;
}

nav {
    /* grid-column-start: 2;
    grid-column-end: 5; */
    flex: 3;
}

.ul-home {
    text-align: center;
    margin: 25px 0 0 320px;
}

.li-home {
    display: inline;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/*  */
#home {
    min-height: 90vh;
    /* display: grid;
    grid-template-columns: repeat(8, 100px); 
    grid-template-rows: repeat(5, 100px);
    background-color: #C0C0C0;
    align-content: center; */
    background-color: #C0C0C0;
    /* padding-left: 150px; */
    margin-top: 77px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.container-home {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(5, 100px);
    align-content: center;
    margin-top: 130px;
    margin-right: 15px;
}

#irsyad {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    font-size: 100px;
    width: 600px;
    margin: 0;
}

#fs {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    /* padding-top: 20px; */
    font-size: 40px;
    width: 400px;
    line-height: 55px;
}

#button-about-me {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    /* align-self: center;
    margin-top: 180px;
    margin-left: 0px; */
    width: 150px;
    height: 30px;
    background-color: black;
    color: #C0C0C0;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}

#button-about-me:hover {
    cursor: pointer;
    background-color: #D3D3D3;
    color: black;
}

#irsyad-photos {
    /* grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6; */
    /* justify-items: center;
    align-items: center; */
    /* margin-top: 35px;
    margin-left: 130px; */
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
    width: 622px;

    /* float: right; */
}

/*  */
#about-me {
    min-height: 90vh;
    background-color: #D3D3D3;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#about-me > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

#about-me > p {
    font-size: 18px;
}

/*  */
#work {
    min-height: 90vh;
    background-color: #C0C0C0;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#work > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;

}

#work > p {
    font-size: 18px;
}

.img-1, .img-2 {
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 32px;
}

.img-1 {
    width: 140px;
    height: 150px;
}

.img-2 {
    width: 160px;
    height: 150px;
}

/*  */
#resume {
    min-height: 125vh;
    background-color: #D3D3D3;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#resume > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

#resume > p {
    font-size: 18px;
    margin-bottom: 0;
}

.img-3 {
    width: 530px;
    height: 250px;
    margin-top: 30px;
    z-index: 1;
}

.a {
    padding-left: 110px;
}

/*  */
.contact-container {
    /* display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 300px); */
    display: flex;
}

/*  */
#contact-info {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; */
    background-color: #DCDCDC;
    padding-left: 150px;
    /* width: 400px; */
    flex: 1;
}

.ul-contact-info {
    padding: 0;
    margin-bottom: 60px;
}

.li-contact-info {
    list-style-type: none;
    margin-top: 5px;
}

.p-contact-info {
    font-size: 18px;
    display: inline;
    vertical-align: middle;
}

.img-contact-info {
    height: 20px;
    vertical-align: middle;
}

.info {
    margin-top: 20px;
}

#contact-info > h2 {
    text-align: left;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.follow-me {
    font-size: 20px;
    margin-bottom: 10px;
}

.img-follow-me {
    height: 20px;
    display: inline;
    box-sizing: border-box;
}

.img-follow-me:hover {
    background-color: black;
    border-radius: 10px;
}

/*  */
#contact-me {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    background-color: #C0C0C0;
    /* margin-left: 160px;
    width: 735px;
    padding-right: 150px;
    padding-left: 100px; */
    flex: 2;
}

#contact-me > h2 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

audio {
    /* margin-left: 215px; */
    border-radius: 10px;
}

.wrapper-audio {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.wrapper-form {
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}


form {
    /* margin-left: 120px; */
    font-size: 25px;
    display: block;
}

label {
    display: block;
    margin-top: 15px;
    color: white;
}

input {
    font-size: 18px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    height: 37px;
    width: 290px;
}

.container-name {
    background-color: #800020;
    width: 502px;
    height: 43px;
    border-radius: 10px;
    padding-left: 15px;
}

#name {
    margin-left: 120px;
}

.container-phone-number {
    background-color: #800020;
    width: 502px;
    height: 43px;
    border-radius: 10px;
    padding-left: 15px;
}

#phone-number {
    margin-left: 10px;
}

.container-email {
    background-color: #800020;
    width: 502px;
    height: 43px;
    border-radius: 10px;
    padding-left: 15px;
}

#email {
    margin-left: 127px;
}

.container-textarea {
    background-color: #800020;
    width: 502px;
    height: 110px;
    border-radius: 10px;
    padding-left: 15px;
}

textarea {
    font-size: 18px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    width: 292px;
    height: 100px;
    resize: none;
    vertical-align: top;
}

#button-submit-form {
    /* border: 5px solid #800020; */
    background-color: #800020;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 413px;
    width: 100px;
    border: 1px solid #800020;
    border-radius: 10px;
}

#button-submit-form:hover {
    cursor: pointer;
    background-color: white;
    color: #800020;
}



































/*  */
footer {
    padding-left: 150px;
    background-color: #800020;
    display:flex;
    color: white;
}