@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;700&display=swap'
);
    
* {
        font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkturquoise;
    display: grid;
    position: fixed;
    grid-template-columns: repeat(4, 330px);
    grid-template-rows: 100%;
    padding-left: 150px;
    padding-right: 150px;
    top: 0;
    left: 0;
    right: 0;
}

h2 > a {
    background-color: red;
    text-decoration: none;
}

nav {
    grid-column-start: 2;
    grid-column-end: 5;
}

ul {
    text-align: center;
    margin: 25px 0 0 300px;
}

li {
    display: inline;
    padding: 0px 20px;
}

a {
    text-decoration: none;
}

/*  */
#home {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 100px);  /*  fit-content , minmax) */ 
    grid-template-rows: repeat(5, 100px);
    background-color: lightseagreen;
    align-content: center;
    padding-left: 150px;
}

#irsyad {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    margin: 0;
    font-size: 100px;
    width: 600px;
}

#fs {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
    width: 400px;
    line-height: 55px;
}

#button-about-me {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    margin-top: 180px;
    width: 120px;
}

#irsyad-photos {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    justify-items: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 130px;
    width: 622px;
}

/*  */
#about-me {
    min-height: 90vh;
    background-color: rgb(68, 219, 211);
    padding-left: 150px;
    padding-right: 150px;
}

#about-me > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

#about-me > p {
    font-size: 18px;
}


/*  */
#work {
    min-height: 90vh;
    background-color: rgb(58, 179, 173);
    padding-left: 150px;
    padding-right: 150px;
}

#work > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

#work > p {
    font-size: 18px;
}

.img-1, .img-2 {
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 32px;
}

.img-1 {
    width: 140px;
    height: 150px;
}

.img-2 {
    width: 160px;
    height: 150px;
}