@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;700&display=swap'
);
    
* {
        font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #800020;
    display: grid;
    position: fixed;
    grid-template-columns: repeat(4, 330px);
    grid-template-rows: 100%;
    padding-left: 150px;
    padding-right: 150px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

h2 > a {
    background-color: red;
    text-decoration: none;
}

nav {
    grid-column-start: 2;
    grid-column-end: 5;
}

.ul-home {
    text-align: center;
    margin: 25px 0 0 300px;
}

.li-home {
    display: inline;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/*  */
#home {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 100px);  /*  fit-content , minmax) */ 
    grid-template-rows: repeat(5, 100px);
    background-color: #C0C0C0;
    align-content: center;
    padding-left: 150px;
}

#irsyad {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    margin: 0;
    font-size: 100px;
    width: 600px;
}

#fs {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
    width: 400px;
    line-height: 55px;
}

#button-about-me {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    margin-top: 180px;
    margin-left: 0px;
    width: 120px;
}

#irsyad-photos {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    justify-items: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 130px;
    width: 622px;
}

/*  */
#about-me {
    min-height: 90vh;
    background-color: #D3D3D3;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#about-me > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

#about-me > p {
    font-size: 18px;
}

/*  */
#work {
    min-height: 90vh;
    background-color: #C0C0C0;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#work > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

#work > p {
    font-size: 18px;
}

.img-1, .img-2 {
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 32px;
}

.img-1 {
    width: 140px;
    height: 150px;
}

.img-2 {
    width: 160px;
    height: 150px;
}

/*  */
#resume {
    min-height: 125vh;
    background-color: #D3D3D3;
    padding-top: 72px;
    padding-left: 150px;
    padding-right: 150px;
}

#resume > h2 {
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

#resume > p {
    font-size: 18px;
    margin-bottom: 0;
}

.img-3 {
    width: 530px;
    height: 250px;
    margin-top: 30px;
    z-index: 1;
}

.a {
    padding-left: 110px;
}

/*  */
.container {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 300px);
}

#contact-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #DCDCDC;
    padding-left: 150px;
    width: 400px;
}

.ul-contact-info {
    padding: 0;
    margin-bottom: 60px;
}

.li-contact-info {
    list-style-type: none;
    margin-top: 5px;
}

.p-contact-info {
    font-size: 18px;
    display: inline;
    vertical-align:middle;
}

.img-contact-info {
    height: 20px;
    vertical-align:middle
}

.info {
    margin-top: 20px;
}

#contact-info > h2 {
    text-align: left;
    font-size: 60px;
    text-decoration: underline;
}

.follow-me {
    font-size: 20px;
    margin-bottom: 10px;
}

.logo-follow-me {
    height: 20px;
    display: inline;
    box-sizing: border-box;
}

.instagram, .facebook {
    padding-left: 10px;
}

/*  */
#contact-me {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #C0C0C0;
    margin-left: 160px;
    width: 735px;
    padding-right: 150px;
    padding-left: 100px;
}

#contact-me > h2 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

audio {
    margin-left: 215px;
    border-radius: 10px;
}

form {
    margin-left: 140px;
    font-size: 25px;
    display: block;
    /* margin-top: 15px; */
}

label {
    display: block;
    margin-top: 15px;
}

input {
    border-radius: 10px;
    height: 30px;
    width: 290px;
    font-size: 18px;
}

#label-name {
    margin-left: 120px;
}

#phone-number {
    margin-left: 10px;
}

#email {
    margin-left: 127px;
}

textarea {
    margin-left: 20px;
    height: 100px;
    width: 290px;
    border-radius: 10px;
    font-size: 18px;
    resize: none;
    vertical-align: top;
}

button {
    margin-top: 20px;
    margin-left: 413px;
    width: 100px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

/*  */
footer {
    padding-left: 150px;
    background-color: #800020;
    display:flex;
    color: white;
}